@model MvcApplication1dfasdg.Models.ProducerModel

<form role="form" method="POST">
    <div class="form-group">
        @*<label for="Name">User Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Enter name here">*@

        @Html.LabelFor(x => x.Name)
        </br>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Enter producer's name here" })
    </div>

    <div class="form-group">
        @*<label for="City">Select Your country</label>
        <select class="form-control" id="City" name="City"><option value="Kyiv">Kyiv</option>
        <option value="Lviv">Lviv</option>
        <option value="Donetsk">Donetsk</option>
        <option value="Odessa">Odessa</option>
        </select>*@

        @Html.LabelFor(x => x.Location)
        </br>
        @Html.DropDownListFor(x => x.Location, Model.Locations, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
